{% extends "layouts/base.html" %}
{% block title %}Carrito de Compras{% endblock %}
{% load humanize %}
{% block content %}
<div class="container mt-5 py-5 pb-5">
  <h3 class="mb-4">Carrito de Compras</h3>
  <div class="row">
    {% for item in cart %}
    <div class="col-12 col-md-6 col-lg-4 mb-4">
      <div class="card h-100 shadow-sm border border-secondary rounded-1">
        <div class="card-body">
          <h5 class="card-title">{{ item.product.name }}</h5>
          <p class="card-text mb-1"><strong>Precio:</strong> ${{ item.price|floatformat:"0"|intcomma|cut:"," }}</p>
          <p class="card-text mb-3"><strong>Total:</strong> ${{ item.total_price|floatformat:"0"|intcomma|cut:"," }}</p>
          <div class="mb-3">
            <form action="{% url 'cart:cart_add' item.product.id %}" method="post" class="d-flex align-items-start">
              {% csrf_token %}
              <div class="form-group mr-2 mt-1">
                {{ item.update_quantity_form.quantity }}
              </div>
              <input type="hidden" name="override" value="True">
              <button type="submit" class="btn btn-sm btn-secondary">Actualizar</button>
            </form>
          </div>
          <form action="{% url 'cart:cart_remove' item.product.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="d-block justify-content-start justify-content-md-center">
    
    <div class="col-12 col-md-4 offset-md-4 d-block justify-content-start justify-content-md-center">
      <p class="lead">Total: ${{ cart.get_total_price|floatformat:"0"|intcomma|cut:"," }}</p>
      <a href="{% url 'shop:product_list' %}" class="btn btn-secondary mr-2 btn-block">Continuar comprando</a>
      <a href="{% url 'orders:order_create' %}" class="btn btn-warning btn-block"><strong>Checkout</strong></a>
    </div>
  </div>
</div>
{% endblock %}
