{% extends "layouts/base.html" %}
{% load humanize %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}

<div class="container product-detail">

<div class="row align-items-center">

<div class="col-md-6 text-center">

{% if product.image %}
<img src="{{ product.image.url }}"
class="detail-image">
{% endif %}

</div>


<div class="col-md-6">

<h2 class="detail-title">
{{ product.name }}
</h2>

<p class="detail-price">
${{ product.current_price|floatformat:"0"|intcomma }}
</p>

<ul class="product-info">

<li><strong>Peso:</strong> {{ product.weight }} g</li>
<li><strong>Molienda:</strong> {{ product.get_grinding_type_display }}</li>
<li><strong>Stock:</strong> {{ product.stock }}</li>

</ul>


{% if product.stock > 0 %}

<form action="{% url 'cart:cart_add' product.id %}" method="post">

{% csrf_token %}

<!-- CANTIDAD -->

<div class="mb-4">

<label class="form-label fw-semibold">
Cantidad
</label>

<div class="quantity-selector">

<button type="button" class="qty-btn" onclick="decreaseQty()">
-
</button>

<input type="number"
name="quantity"
id="quantity"
value="1"
min="1"
max="{{ product.stock }}"
class="qty-input">

<button type="button" class="qty-btn" onclick="increaseQty()">
+
</button>

</div>

</div>

{{ cart_add_form.override }}

<button class="btn btn-coffee">
Agregar al carrito
</button>

<a href="{% url 'shop:product_list' %}"
class="btn btn-outline-secondary">
Volver
</a>

</form>

{% else %}

<p class="text-danger fw-bold">
Producto agotado
</p>

{% endif %}

</div>

</div>

<div class="row mt-5">

<div class="col-md-8">

<h4>Descripción</h4>

<p>
{{ product.description|linebreaks }}
</p>

</div>

</div>

</div>

<script>

function increaseQty(){
let qty = document.getElementById("quantity");
qty.value = parseInt(qty.value) + 1;
}

function decreaseQty(){
let qty = document.getElementById("quantity");

if(qty.value > 1){
qty.value = parseInt(qty.value) - 1;
}

}

</script>

{% endblock %}