{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
<title>{% block title %}Detalles del producto{% endblock %}</title>

<h1>Detalle del Producto</h1>

<h1>{{ product.name }}</h1>
<p>Precio: ${{ product.current_price }}</p>
<p>Descripción: {{ product.description }}</p>
<p>Peso: {{ product.weight }} g</p>
<p>Tipo de molienda: {{ product.get_grinding_type_display }}</p>
<p>Stock disponible: {{ product.stock }}</p>
<p>Disponible: {{ product.availability|yesno:"Sí,No" }}</p>

<img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 150px; height: auto;">

<!-- Formulario para agregar al carrito -->
<form action="{% url 'cart:cart_add' product.id %}" method="post">
    {% csrf_token %}
    {{ cart_add_form.quantity.label_tag }} {{ cart_add_form.quantity }}
    {{ cart_add_form.override }}
    <button type="submit">Agregar al carrito</button>
</form>

<a href="{% url 'shop:product_list' %}">Volver a la lista de productos</a>
{% endblock %}
