{% extends 'admin/base_site.html' %}

{% block title %}Order{{ order.id }}
{% endblock %}

{% block content %}
  <h1>Order #{{ order.id }}</h1>
  <p>Order status: {{ order.paid }}</p>
  <p>Order total: {{ order.get_total_cost }}</p>
  <p>Order created: {{ order.created }}</p>
  <h2>Order items</h2>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
        <tr>
          <td>{{ item.product.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price }}</td>
          <td>{{ order.get_total_cost }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}