{% extends "layouts/base.html" %}
{% block title %}Crear Pedido{% endblock %}
{% load humanize %}

{% block content %}

<section class="checkout-section">

<div class="container">

<div class="row justify-content-center">

<div class="col-lg-6">

<div class="checkout-card">

<h2 class="checkout-title">
<i class="fa-solid fa-bag-shopping"></i> Finalizar compra
</h2>

<!-- TOTAL -->

<div class="order-summary">

<span>Total del pedido</span>

<strong class="order-price">
${{ cart.get_total_price|floatformat:"0"|intcomma|cut:"," }}
</strong>

</div>


<form method="post" novalidate class="checkout-form">

{% csrf_token %}

<div class="form-group mb-3">
<label>Nombre completo</label>
{{ form.full_name }}
</div>

<div class="row">

<div class="col-md-6 mb-3">
<label>Email</label>
{{ form.email }}
</div>

<div class="col-md-6 mb-3">
<label>Dirección</label>
{{ form.address }}
</div>

</div>

<div class="row">

<div class="col-md-6 mb-3">
<label>Código postal</label>
{{ form.postal_code }}
</div>

<div class="col-md-6 mb-3">
<label>Ciudad</label>
{{ form.city }}
</div>

</div>

<button type="submit" class="btn btn-coffee w-100">
Realizar pedido
</button>

</form>

</div>

</div>

</div>

</div>

</section>

{% endblock %}