{% extends "layouts/base.html" %}
{% block title %}¡Gracias por tu compra!{% endblock %}
{% block content %}
<div class="container my-5 py-5 text-start" style="height: 28rem;">
  <h1 class="text-success">🎉 ¡Pago Confirmado! 🎉</h1>
  <p class="mt-3">¡Gracias por confiar en <strong>Coffe Shop</strong>! 😊</p>
  <p>Hemos recibido tu pago y estamos preparando tu pedido con mucho amor y dedicación. Pronto lo tendrás en tus manos para disfrutar de una experiencia única. ☕✨</p>
  <p>Si necesitas ayuda o tienes alguna pregunta, no dudes en contactarnos.</p>
  <a href="/" class="btn btn-success rounded-0 mt-3"><strong>Volver al Inicio</strong></a>
</div>
{% endblock %}
