{% extends "layouts/base.html" %}
{% load humanize %}
{% block title %}Proceso de Pago{% endblock %}
{% block content %}
<div class="container my-5 py-5">
  <div class="card shadow-sm">
    <div class="card-header bg-success">
      <h1 class="h4 mb-0">Proceso de Pago</h1>
    </div>
    <div class="card-body">
      <p class="lead">
        El total de su pedido es:
        <strong>${{ order.get_total_cost|floatformat:"0"|intcomma }}</strong> COP
      </p>
      <form method="post" action="{% url 'payment:process' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-warning btn-block shadow-sm"><strong>Proceder al Pago</strong></button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

